mysite/hello/__pycache__/
mysite/mysite/__pycache__/
mysite/hello/migrations/__pycache__/
mysite/US_Accidents_Dec21_updated.csv
mysite/hello/US_Accidents_Dec21_updated.csv
mysite/hello/backupCSV/*
mysite/db.sqlite3
.vscode/
.vs/
