{% extends './base.html' %}
{%load static%}

{% block title %} Analytics {% endblock %}

{% block head %}

{%endblock%}

{%block body%}
<div class = image-container>
    <img src="{% static '/images/crashes_by_month.png' %}" alt="Crashes by month">
</div>

<div class = image-container>
    <img src="{% static '/images/hours_count.png' %}" alt="Crashes by hour">
</div>

<div class = image-container>
    <img src="{% static '/images/crashes_by_weather.png' %}" alt="Crashes by weather">
</div>
<div class = image-container>
    <img src="{% static '/images/scatter_plot.png' %}" alt="Crashes by weather" width="90%" height="90%">
</div>
</body>

{%endblock%}
