{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Welcome</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" type = "text/css" href = "{% static 'css/style.css' %}">
        <style>
            .image-container{
                text-align: center;
            }
        </style>
        
    </head>
    <body>
        <nav>
            <div class = "logo">
                <h4>Car Accident Database</h4>
            </div>
            <ul class = "nav-links">
                <li>
                    <a href ="/hello/welcome/">Home</a>
                </li>
                <li>
                    <a href ="/hello/search/">Search</a>
                </li>
                <li>
                    <a href ="/hello/modify/">Modify</a>
                </li>
                <li>
                    <a href ="/hello/crashes_by_month/">Analytics</a>
                </li>
            </ul>
        </nav>
    
        <div class = image-container>
            <img src="{% static '/images/crashes_by_month.png' %}" alt="Crashes by month">
        </div>

        <div class = image-container>
            <img src="{% static '/images/hours_count.png' %}" alt="Crashes by hour">
        </div>

        <div class = image-container>
            <img src="{% static '/images/crashes_by_weather.png' %}" alt="Crashes by weather">
        </div>
    </body>

    
</html>