{% extends './base.html' %}
{%load static%}

{% block title %} Modify {% endblock %}

{% block head %}
<style>
    #insert_form .row .col-{
        margin-left: auto;
    }
    .col- label{
        padding-top: 4px;
    }

    .row{
        padding-bottom: 5px;
    }

    .form-group{
        padding-bottom: 500px;
    }

    #insert_form{
        width: 30%;
    }
    #delete_form{
        padding-top: 100px;
        width: 50%;
    }
    #update_form{
        padding-top: 100px;
        width: 75%;
        padding-bottom: 170px;
    }
    #import_form{
        width: 20%;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #backup_form{
        padding-bottom: 20px;
    }
    #delete_title{
        height: 100px;
        width: 50px;
    }
    #update_title{
        height: 50px;
        width: 50px;
    }
</style>
{%endblock%}

{%block body%}
<div id = "wrapper">
    <h1 class = "first-header">
        Modify the Car Accident Database
    </h1>
    <h1>
        Insert
    </h1>

    <div class="form-group" id = "insert_form">
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in insert %}
                <div class = "row">
                    <div class = "col-">
                        {{field.label}}
                    </div>
                    <div class = "col-9">
                        {{field}}
                    </div>
                </div>
            {%endfor%}
            
            <button type="submit" class="btn btn-dark" name='insert'>Insert</button>
        </form>
    </div>
    <div id ="delete_title"></div>
    <h1>
        Delete
    </h1>
    <h2>
        Note: Modifications will be made to all car accidents fitting the query</br>
        Extra note: IDs are in the format "A-[Accident Number]". For example "A-1" for the first car accident in the CSV.
    </h2>
    <div class="form-group" id = "delete_form">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="row">
                <div class = "col-">
                    <label for = "search_by">Search by:</label>
                </div>
                <div class = "col-2">
                    {{delete.selection}}
                </div>
                <div class = "col-">
                    <label for = "search_text">Search:</label>
                </div>
                <div class = "col">
                    {{delete.search_text}}
                </div>
                <button type="submit" class="btn btn-dark" name='delete'>Delete</button>
            </div>
        </form>
    </div>

    <div  id = "update_title"></div>
    <h1>
        Update
    </h1>
    <h2>
        Note: We can only update one car accident at a time since we must specify the car accident to update with its ID number</br>
    </h2>
    <div class="form-group" id = "update_form">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="row">
                <div class = "col-">
                    <label for = "id">ID:</label>
                </div>
                <div class = "col">
                    {{update.id}}
                </div>
                <div class = "col-">
                    <label for = "field_to_update">Field to Update:</label>
                </div>
                <div class = "col-2">
                    {{update.updated_field}}
                </div>
                <div class = "col-">
                    <label for = "new_value">New Value:</label>
                </div>
                <div class = "col">
                    {{update.new_value}}
                </div>
                <button type="submit" class="btn btn-dark" name='update'>Update</button>
            </div>
        </form>
    </div>
    

    <h2>
        Backup and Import buttons
    </h2>

    <div class="form-group" id = "import_form">
        <form method='POST'>
            {% csrf_token %}
            <div class="row">
                <div class = "col-">
                    <label for = "import_file">Import File:</label>
                </div>
                <div class = "col-5">
                    {{import.importChoice}}
                </div>
                <button type="submit" class="btn btn-dark" name="import">Import</button>
            </div>
        </form>
    </div>
    
    <div class="form-group" id = "backup_form">
        <form method='POST'>
            {% csrf_token %}
            {{backup.as_p}}
            <button type="submit" class="btn btn-dark" name="backup"> Backup/Save </button>
        </form>
    </div> 
    
</div>
{%endblock%}
