{% extends './base.html' %}
{%load static%}

{% block title %} Search {% endblock %}

{% block head %}
<style>
    .form-row{
        background-color: yellow;
        align-items: center;
        
    }
    .col- label{
        padding-top: 4px;
    }
</style>
{% endblock %}

{% block body %}
<div id = "wrapper">
    <h1 class = "first-header">
        Search For Car Accident Reports
    </h1>
    <h2>
        Enter the category for the search and the query <br/>
        Note: Searching by state uses state abbreviations
    </h2>
    <div class="form-group" id = "search_form">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="row">
                <div class = "col-">
                    <label for = "search_by">Search by:</label>
                </div>
                <div class = "col-2">
                    {{form.category}}
                </div>
                <div class = "col-">
                    <label for = "search_text">Search:</label>
                </div>
                <div class = "col">
                    {{form.search_text}}
                </div>
                <button type="submit" class="btn btn-dark">Search</button>
            </div>
            
        </form>
    </div>
       
    <h2>
        Car Accident Trivia:
    </h2>
    <a href = '/hello/top-5-states/'><p>Top 5 states for number of car accidents</p></a>
    <a href = '/hello/severity_by_year/'><p>Severity percentage by year</p></a>
</div>
{% endblock %}

