<!DOCTYPE html>
<html>
<head>
    <body>
        <title>Query</title>
    </body>
    <style>
        #wrapper { text-align: center;}
    </style>
</head>

<div id = "wrapper">
    <h1>
        Search For Car Accident Reports
    </h1>
    <h2>
        Enter the category for the search and the query <br/>
        Note: Searching by state uses state abbreviations
    </h2>

    <form method="POST" action="">
        {% csrf_token %}
        {{form}}

        <button type="submit">Submit</button>
    </form>

    <br/>
    <br/>
    <br/>
    <a href = '../modify/'><p>Modify the database</p></a>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h2>
        Car Accident Trivia:
    </h2>
    <a href = '../top-5-states/'><p>Top 5 states for number of car accidents</p></a>
</div>
</html>
