<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% comment %} <title>Simple table</title>
    <link href="/hello/minimal-table.css" rel="stylesheet" type="text/css"> {% endcomment %}
    <script src = "https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <style>
        td {
            border: solid 2px lightgrey;
        }
    </style>
</head>


<h1>
    The Top 5 States With The Most Accidents
</h1>

<table>    
    <tr>
        <th> State Name </th>
        {%for SN in states_name%} 
        <td> {{SN}} </td> 
        {%endfor%}
    </tr>
    <tr>
        <th> No. of Accidents </th>
        {%for SO in states_no%} 
        <td> {{SO}} </td> 
        {%endfor%}
    </tr>
    <tr>
        <th> Percent of Total Accidents </th>
        {%for P in percent%} 
        <td> {{P}} </td> 
        {%endfor%}
    </tr>
</table>

</br>
</br>

<canvas id="myChart" width="400" height="400"></canvas>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{%for SN in states_name%}'{{SN}}',{%endfor%}],
            datasets: [{
                label: '% of total accidents',
                data: [{%for P in percent%}'{{P}}',{%endfor%}],
                backgroundColor: [
                    'rgba(255, 0, 0, .75)',
                    'rgba(0, 0, 255, .75)',
                    'rgba(255, 130, 0, .75)',
                    'rgba(0, 255, 1, .75)',
                    'rgba(215, 0, 255, .75)',
                ],
                borderColor: [
                    'rgba(255, 0, 0, 1)',
                    'rgba(0, 0, 255, 1)',
                    'rgba(255, 130, 0, 1)',
                    'rgba(0, 255, 1, 1)',
                    'rgba(215, 0, 255, 1)',
                ],
                borderWidth: 2
            }]
        },
        options: {
            responsive: false,
            maintainAspectRatio: false,
            scales: {
                x: {
                    display:true,
                    beginAtZero:true,
                    title: {
                        display: true,
                        text: 'State Name'
                      }
                },
                y: {
                    display:true,
                    beginAtZero:true,
                    title: {
                        display: true,
                        text: 'Percent of Total Accidents %'
                      }
                }
            },
            plugins: {
                legend: {
                  display: false
                }
              },
        }
    });
</script>

</html>