<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% comment %} <title>Simple table</title>
    <link href="/hello/minimal-table.css" rel="stylesheet" type="text/css"> {% endcomment %}
    <style>
        td {
            border: solid 2px lightgrey;
        }
    </style>
</head>


<h1>
    The Top 5 States With The Most Accidents (WIP)
</h1>

<table>    
    <tr>
        <th> State Name </th>
        {%for SN in states_name%} 
        <td> {{SN}} </td> 
        {%endfor%}
    </tr>
    <tr>
        <th> No. of Accidents </th>
        {%for SO in states_no%} 
        <td> {{SO}} </td> 
        {%endfor%}
    </tr>
    <tr>
        <th> Percent of Total Accidents </th>
        {%for P in percent%} 
        <td> {{P}} </td> 
        {%endfor%}
    </tr>
</table>

</html>